@model IEnumerable<Hospital_Management.Areas.Admin.Controllers.ReportViewModel>

@{
    ViewBag.Title = "Reporting and Analytics";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container mt-5">
    <h2>Reporting and Analytics</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created Date</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr>
                    <td>@report.Id</td>
                    <td>@report.Title</td>
                    <td>@report.CreatedDate</td>
                    <td>@report.Author</td>
                </tr>
            }
        </tbody>
    </table>
</div>
