@model IEnumerable<Hospital_Management.Areas.Admin.Controllers.SystemConfigViewModel>

@{
    ViewBag.Title = "System Configuration";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container mt-5">
    <h2>System Configuration</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Key</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var config in Model)
            {
                <tr>
                    <td>@config.Id</td>
                    <td>@config.Key</td>
                    <td>@config.Value</td>
                    <td>@config.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
